*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    background-color: rgb(18,18,18);
}
.navbar .navbar-brand i {
    color: rgb(2, 138, 2);
    font-size: 2rem;
}
.navbar-details{
    font-size: 1rem;
    color: gray;
    padding: 20px 0 0 20px;
}


.navbar .btn {
    color: gray;
    font-size: 1rem;
    background: none;
    border: none;
  }
  
  .navbar .btn:hover {
    color: #f2fcec;
  }
  
  .navbar .btn4k {
    color: darkgreen;
    font-weight: 800;
    font-size: 1rem;
    background: none;
    border: none;
  }
  
  .navbar .btn4k:hover {
    color: limegreen;
  }
  .custom-toggler-icon {
    color: white !important;
  }
  .navbar-toggler-icon {
    background-image: none;
    color: white;
  }
  